---
import DiscordLogo from "../assets/DiscordLogo.svg";
import GithubLogo from "../assets/GithubLogo.svg";

const liContent = ["Product", "Solutions", "Docs", "Pricing", "Company"];
---

<section>
  <div>
    <picture><img src="/headerImages/neon-icon.svg" alt="neon icon" /></picture>
    <nav>
      <ul class="text-white list-none">
        {
          liContent.map((element) => {
            return <li>{element}</li>;
          })
        }
      </ul>
    </nav>
  </div>

  <div>
    <DiscordLogo/>
  </div>
</section>
