<section class="w-auto h-auto mt-10">
  <canvas aria-label="graphics" role="img"></canvas>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/scripts/Chart.js"></script>

<style>
  canvas {
    width: 100%;
    height: auto;
    background-color: #01042d;
    padding: 20px;
    border-color: white;
    border-width: 2px;
    border-radius: 12px;
  }
</style>
