---
import HomeImage from '../assets/HomeImage.svg'
import MonitorImage from '../assets/MonitorImage.svg'
import MessageImage from '../assets/MessageImage.svg'
import ClipboardImage from '../assets/ClipboardImage.svg'
import GoalsImage from '../assets/GoalsImage.svg'
---

<section class="flex flex-col justify-center items-center gap-9">
    <div><HomeImage class="size-10"/></div>
    <div><MonitorImage class="size-8"/></div>
    <div><MessageImage class="size-8"/></div>
    <div><ClipboardImage class="size-14"/></div>
    <div><GoalsImage class="size-8"/></div>
</section>