---
import { courses } from "../data/Course"; 
---
<section class="my-5 text-white">
  <div class="w-full max-w-xl">
    <form id="form" class="flex gap-2">
      <input
        type="text"
        id="searchInput"
        placeholder="Buscar curso..."
        class="w-72 flex-grow p-3 rounded-full border border-gray-300 shadow focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-full"
      >
        Buscar
      </button>
    </form>
  </div>

  <script is:inline>
    const coursesParser = JSON.parse(String.raw`${JSON.stringify(courses)}`);

    const $form = document.getElementById("form");
    const $input = document.getElementById("searchInput");

    $form.addEventListener("submit", (event) => {
      event.preventDefault();
      const inputValue = $input.value.trim().toLowerCase();

      const resultSearch = coursesParser.filter(course =>
        coursesParser.titulo.toLowerCase().includes(inputValue)
      );

      console.log(resultSearch);
    });
  </script>
</section>

