---
import type { BasicInfo } from "@/types/Product.ts";

interface Props {
  placeholder: string;
  products: BasicInfo[];
}

const { placeholder, products } = Astro.props as Props;
---

<section class="inline-flex flex-col gap-4">
  <span class="uppercase text-xs text-white/80">{placeholder}</span>
  {
    products.map(({ title, description, image }) => {
      return (
        <article class="flex flex-row gap-4 mb-3 items-center justify-center">
          <picture class="size-12 flex bg-white/90 justify-center items-center p-2 rounded-lg">
            <img src={image} alt="images" class="size-10 bg-cover" />
          </picture>
          <div class="inline-flex flex-col">
            <span class="text-[16px] font-semibold text-white/70 hover:text-white/90">{title}</span>
            <p class="text-[12px] text-white/50 hover:text-white/70">{description}</p>
          </div>
        </article>
      );
    })
  }
</section>
