---

---

<aside class="w-1/5">
  <article>
    <div class="w-full flex justify-between">
      <h5>What's happening this week :=0</h5>
      <details>
        <summary> ... </summary>
        <ul></ul>
      </details>
    </div>
    <section>
      <h3></h3>
      <div></div>
    </section>
  </article>
</aside>
