---
const { title } = Astro.props;
import Header from "../components/ui/Header.astro";
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
