---
import Layout from "@/layouts/Layout.astro"
import SurveyDashboard from "@/components/SurveyDashboard.astro"
import SurveyForm from "@/components/SurveyForm.astro"
import SurveyViewer from "@/components/SurveyViewer.astro"
---

<Layout>
	<h1></h1>
    <main class="flex flex-row justify-center items-center gap-6">
        <SurveyForm/>
    </main>
</Layout>
