---
    const {} = Astro.props;
---

<section>
    <article class="relative size-auto">
        <div class="absolute">
            <h1>Estadisticas de la encuesta</h1>
        </div>

        <div class="w-auto h-full">

        </div>
    </article>
</section>